<div class="new-form">
    <h1 class="new-title">Log In</h1>
  <%= form_tag sessions_path do %> 
    <div class="new-form-field">
      <%= label_tag :email, "Enter your email", class: "new-form-label" %>
      <%= email_field_tag :email, params[:email], class: "form-input" %>
    </div>

    <div class="new-form-field">
      <%= label_tag :password, "Enter your password", class: "new-form-label" %>
      <%= password_field_tag :password, '', class: "form-input" %>
    </div>

    <div class="new-form-action">
      <%= submit_tag "Log In", class: "button" %>
    </div>
  <% end %>
</div>
