<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title><%= content_for(:title) || "TWIDY App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"/>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <aside class="header">
      <div class="logo">
        <%= image_tag "logo.png"%>
        <%= link_to "", root_path %>
      </div>
      <nav class="header-nav">
        
          <div class="nav-item"><%= image_tag "header-home.svg"%><%= link_to "Main Page", root_path, class: "nav-link"%></div>
          <div class="nav-item"><%= image_tag "header-message.svg"%><%= link_to "My Questions", root_path, class: "nav-link" %></div>
          <div class="nav-item"><%= image_tag "header-settings.svg"%><%= link_to "Settings", root_path, class: "nav-link" %></div>
        </ul>
      </nav>
    </aside>

    <div class="content">
      <header>
        <input type="search" placeholder="Search..." class="search-input" />
        <div class="button-group">
          <%if current_user%>
            <%= link_to user_path(current_user), class: "profile-link" do %>
            <div class="profile-wrapper">
              <%= image_tag current_user.avatar_url, alt: "#{current_user.username}'s avatar", class: "user-image-t" if current_user.avatar_url.present? %>
              <span class="green-dot"></span>
              </div>
              @<%= current_user.username %>
            <% end %>
            <%= link_to "Logout", log_out_path, class: "link" %>
          <%else%>
            <%= link_to "Register", sign_up_path, class: "btn register-btn" %>
            <%= link_to "Login", log_in_path, class: "btn login-btn" %>
          <%end%>  
        </div>
      </header>
      <main>
        <% if flash.any?%>
          <div class="flash-wrapper">
            <% flash.each do |name, message|%>
              <%= content_tag :div, message, class: "flash-#{name}"%>
            <%end%>  
          </div>
        <%end%>  
        <%= yield %>
      </main>
    </div>
    
  </body>
</html>
