<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title><%= content_for(:title) || "First App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <aside class="header">
      <div class="logo">
        <%= image_tag "logo.png"%>
        <%= link_to "", root_path %>
      </div>
      <nav class="header-nav">
        
          <div class="nav-item"><%= image_tag "header-home.svg"%><%= link_to "Main Page", root_path, class: "nav-link"%></div>
          <div class="nav-item"><%= image_tag "header-message.svg"%><%= link_to "My Questions", root_path, class: "nav-link" %></div>
          <div class="nav-item"><%= image_tag "header-settings.svg"%><%= link_to "Settings", root_path, class: "nav-link" %></div>
        </ul>
      </nav>
    </aside>

    <div class="content">
      <header>
        <input type="search" placeholder="Search..." class="search-input" />
        <div class="button-group">
          <%= link_to "Register", sign_up_path, class: "btn register-btn" %>
          <%= link_to "Login", log_in_path, class: "btn login-btn" %>
        </div>
      </header>
      <main>
        <% if flash.any?%>
          <div class="flash-wrapper">
            <% flash.each do |name, message|%>
              <%= content_tag :div, message, class: "flash-#{name}"%>
            <%end%>  
          </div>
        <%end%>  
        <%= yield %>
      </main>
    </div>
    
  </body>
</html>
